<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="InAppPurchase">
    <param name="ios-package" value="InAppPurchase"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="MobileAccessibility">
    <param name="ios-package" value="CDVMobileAccessibility" onload="true"/>
  </feature>

  
  <preference name="URL_SCHEME" value="app.lifebalancer.web.twa" />
  <preference name="ANDROID_SCHEME" value="app.lifebalancer.web.twa" />
  <preference name="ANDROID_HOST" value="https://lifebalancer.loca.lt" />
  <preference name="ANDROID_PATHPREFIX" value="/cordova/app.lifebalancer.web.twa/callback" />
</widget>